<!DOCTYPE html>
<html>
  <head>
    <title>is today prime?</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Is today a <a href="http://www.johndcook.com/blog/2013/11/29/todays-a-prime-day">prime day</a>?</h1>
    <!-- <p><%= timezone %></p> -->
    <p class='overall'><%= overall ? "Yes!" : "Nope." %></p>

    <% for (var key in results) { %>
        <p><%= key %> :
            <a href="http://www.wolframalpha.com/input/?i=<%= results[key][0] %>"><%= results[key][0] %></a>
            =&gt; <%= results[key][1] %></p>
    <% } %>
  </body>
  <footer>
    built by <%- twitter_link("nonrational") %>. inspired by <%- twitter_link("JohnDCook") %> &amp; <%- twitter_link("daniel_egan") %>
  </footer>
</html>
