<!DOCTYPE html>
<html>
  <head>
    <title><%= titleTuple[0] + " " + titleTuple[1] %>?</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= titleTuple[0] %> <a href="<%= inspiredBy %>"><%= titleTuple[1] %></a>?</h1>
    <% for (var key in results) { %>
        <p><%= key %>:<%= results[key][0] %> =&gt; <%= results[key][1] %></p>
    <% } %>
  </body>
</html>
