<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% for (var key in results) { %>
        <p><%= key %>:<%= results[key][0] %> =&gt; <%= results[key][1] %></p>
    <% } %>
  </body>
</html>
